html {
	font-size: 65.5%;
}

body {
	padding-top: 10rem;
	position: relative;
	font-family: $f-raleway !important;
	font-weight: 300 !important;
	line-height: 3.4rem;
	color: $black;
	background-image: linear-gradient(to bottom left, white, $light-grey);
}
p {
	font-size: $f-normal;
}

hr {
	margin: 7rem 0;
	border: 1px solid $purple;
	border-radius: 90px;
}

a {
	text-decoration: none;
	color: $blue;
	&:hover {
		text-decoration: none;
		color: $red;
	}
}

// container styles

.cont {
	background-color: $white;
	border-radius: 7px;
	padding: 2rem;
	margin-bottom: 1rem;
}

.marketing .col-md-4 {
	text-align: center;
	p {
		margin-right: 0.75rem;
		margin-left: 0.75rem;
	}
	h2 {
		font-size: $f-big;
	}
}

.featurette {
	h2 {
		padding-bottom: 1rem;
		font-size: $f-bigger;
	}
}
