/* imports */

@import url("https://fonts.googleapis.com/css?family=Raleway|Oswald:400,700");

/* colors */

/* standard */

$white: #fbfbfb;
$grey: rgba(183, 183, 183, 1);
$black: #0e1013;
$dark-grey: rgba(119, 119, 119, 1);

/* main */

$blue: #16738f;
$light-blue: #b9e1dc;
$red: #ff610d;
$purple: #6c5e81;

/* fonts */

$f-raleway: "Raleway", sans-serif;
$f-oswald: "Oswald", sans-serif;
$f-small: 1.4rem;
$f-normal: 2rem;
$f-big: 2.4rem;
$f-bigger: 3.2rem;
