/*  
	///////////////////////////////////////////
	//									     //
	//			VARIABLES & IMPORTS			 //
	//									     //
	///////////////////////////////////////////
*/


// imports 

@import url("https://fonts.googleapis.com/css?family=Raleway|Nunito&display=swap");

// colors standerd

$white: #ffffff;
$light-grey: #ececec;
$grey: rgb(207, 207, 207);
$black: #636363;
$dark-grey: rgb(94, 94, 94);

// colors main

$blue: #1c86a7;
$light-blue: #b9e1dc;
$brown: #773800;
$red: #fa691b;
$orange: #fd8544;
$purple: #6c5e81;
$dark-purple: #5f4d93;

// fonts

$f-primary: "Raleway", sans-serif;
$f-secondary: "Nunito", sans-serif;

// font sizes

$font-xs: 1.6rem;
$font-s: 1.8rem;
$font-m: 2.1rem;
$font-l: 2.6rem;
$font-xl: 3.4rem;
