/*
	La Aventura
*/

/* BASE - Base styles, variables */

@import "base/_variables.scss";
@import "base/_base.scss";

/* MODULES - Individual site components */

@import "modules/_images.scss";
@import "modules/_buttons.scss";
@import "modules/_sections.scss";
@import "modules/_components.scss";
@import "modules/_forms.scss";

/* LAYOUTS - Page layout styles */

@import "layouts/_nav.scss";
@import "layouts/_header.scss";
@import "layouts/_footer.scss";
@import "layouts/_mobile.scss";
