/*  
	///////////////////////
	//					 //		     
	//		FOOTER		 //
	//					 //
	///////////////////////
*/


footer 
{
	height: 100%;
	margin-top: 2.5rem;
	padding: 3rem;

	a 
	{
		color: $white;

		&:hover {
			color: $red;
		}
	}
	
	hr 
	{
		border-color: $white;
	}
	
	p
	{
		color: $white;
	}
}
