.header-text {
	padding: 10rem 0 2rem 0;
	color: $white;
	font-family: $f-oswald;
	font-style: italic;
	font-size: $f-bigger;
}

.header-subtext {
	padding-bottom: 4rem;
	color: $white;
	font-family: $f-oswald;
	font-style: italic;

}
