/*  
	///////////////////////
	//					 //		     
	//		HEADER		 //
	//					 //
	///////////////////////
*/

.header-subtext 
{
	padding-bottom: 4rem;
	color: $white;
	font-family: $f-secondary;
}

.header-text 
{
	color: $white;
	font-family: $f-secondary;
	font-size: $font-xl;
	padding-top: 5rem;
	padding-bottom: 5rem;
	text-align: center;
}

