.header-text {
	padding: 10rem 0 2rem 0;
	color: $brown;
	font-family: $f-fanwood;
	font-style: italic;
	font-size: $f-bigger;
}

.header-subtext {
	padding-bottom: 10rem;
	color: $brown;
	font-family: $f-fanwood;
	font-style: italic;

}
