/*
	Carlitos Adventures
*/
/* BASE - Base styles, variables */
/* imports */
@import url("https://fonts.googleapis.com/css?family=Raleway|Oswald:400,700|Fanwood+Text");
/* colors */
/* standard */
/* main */
/* fonts */
html {
  font-size: 65.5%; }

body {
  padding-top: 10rem;
  position: relative;
  font-family: "Raleway", sans-serif !important;
  font-weight: 300 !important;
  line-height: 3.4rem;
  color: #0e1013;
  background-image: -webkit-gradient(linear, right top, left bottom, from(white), to(#ececec));
  background-image: -webkit-linear-gradient(top right, white, #ececec);
  background-image: -o-linear-gradient(top right, white, #ececec);
  background-image: linear-gradient(to bottom left, white, #ececec); }

p {
  font-size: 2rem; }

hr {
  margin: 7rem 0;
  border: 1px solid #6c5e81;
  border-radius: 90px; }

a {
  text-decoration: none;
  color: #16738f; }
  a:hover {
    text-decoration: none;
    color: #ff610d; }

.cont {
  background-color: #fbfbfb;
  border-radius: 7px;
  padding: 2rem;
  margin-bottom: 1rem; }

.marketing .col-md-4 {
  text-align: center; }
  .marketing .col-md-4 p {
    margin-right: 0.75rem;
    margin-left: 0.75rem; }
  .marketing .col-md-4 h2 {
    font-size: 2.4rem; }

.featurette h2 {
  padding-bottom: 1rem;
  font-size: 3.2rem; }

/* MODULES - Individual site components */
.btn {
  font-size: 2rem;
  border: none; }
  .btn:link {
    border: none; }
  .btn:visited {
    border: none; }
  .btn:hover {
    border: none; }
  .btn:active {
    border: none; }

.btn-CTA-1, .btn-send {
  background-color: #fbfbfb;
  border-radius: 7px;
  border: 5px solid #ff610d !important;
  padding: 3rem 5rem;
  margin: 2rem 0;
  color: #ff610d;
  font-weight: 900 !important; }
  .btn-CTA-1:hover, .btn-send:hover {
    background-color: #ff610d;
    border: 4px solid #ff610d;
    color: white; }
  .btn-CTA-1:active, .btn-send:active {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: white !important;
    background-color: #ff610d !important;
    border-color: #ff610d !important;
    outline: none !important; }
  .btn-CTA-1:focus, .btn-send:focus {
    color: white !important;
    background-color: #ff610d !important;
    border-color: #ff610d !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }

.btn-send {
  cursor: pointer; }

.btn-CTA-2 {
  background-color: #fbfbfb;
  border: 5px solid #16738f !important;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-size: 2rem; }
  .btn-CTA-2:hover {
    color: #fbfbfb;
    background-color: #16738f;
    border: 5px solid #16738f; }
  .btn-CTA-2:active {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #fbfbfb !important;
    background-color: #16738f !important;
    border-color: #16738f !important;
    outline: none !important; }
  .btn-CTA-2:focus {
    color: #fbfbfb !important;
    background-color: #16738f !important;
    border-color: #16738f !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }

.scrollToTop {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  z-index: 99;
  border: none;
  outline: none;
  color: #ff610d;
  cursor: pointer;
  padding: 1rem;
  border-radius: 5px;
  display: none; }

.spinner-1:before {
  content: "";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 6rem;
  width: 6rem;
  margin-top: -3rem;
  margin-left: -3rem;
  border-radius: 50%;
  border: 3px solid #b7b7b7;
  border-top-color: #ff610d;
  -webkit-animation: spinner 0.7s ease infinite;
  animation: spinner 0.7s ease infinite; }

.spinner-2:before {
  content: "";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 6rem;
  width: 6rem;
  margin-top: -3rem;
  margin-left: -3rem;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ff610d;
  border-bottom-color: #ff610d;
  -webkit-animation: spinner 0.7s linear infinite;
  animation: spinner 0.7s linear infinite; }

.spinner-3:before {
  content: "";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 6rem;
  width: 6rem;
  margin-top: -3rem;
  margin-left: -3rem;
  border-radius: 50%;
  border-top: 3px solid #ff610d;
  border-right: 3px solid transparent;
  -webkit-animation: spinner 0.7s linear infinite;
  animation: spinner 0.7s linear infinite; }

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.short-icon {
  margin: 2.5rem 0;
  color: #6c5e81; }

.tours-heading {
  font-size: 3.2rem;
  color: #777777; }

input[type="text"], input[type="email"], input[type="tel"], textarea {
  border: none !important;
  border-radius: 0 !important;
  padding: 1.5rem !important;
  font-size: 2rem !important;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: #0e1013;
  border-bottom: 2px solid #b7b7b7 !important; }
  input[type="text"]:focus, input:focus[type="email"], input:focus[type="tel"], textarea:focus {
    border-bottom: 2px solid #ff610d !important;
    outline-color: transparent !important; }

input::-webkit-input-placeholder {
  color: #0e1013 !important; }

input:-ms-input-placeholder {
  color: #0e1013 !important; }

input::-ms-input-placeholder {
  color: #0e1013 !important; }

input::placeholder {
  color: #0e1013 !important; }

textarea {
  border: 2px solid #b7b7b7 !important; }
  textarea:focus {
    border: 2px solid #ff610d !important; }

.form-group {
  margin: 2rem 0 !important; }

.help-block {
  color: #ff610d; }

/* LAYOUTS - Page layout styles */
.navbar-custom {
  background-color: #fbfbfb;
  border-bottom: 2px solid #6c5e81;
  padding: 3rem !important;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .navbar-custom .navbar-brand {
    color: #773800;
    font-family: "Fanwood Text", serif;
    font-style: italic;
    font-size: 3.2rem;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
    .navbar-custom .navbar-brand:hover {
      color: #ff610d; }
  .navbar-custom .navbar-nav .nav-link {
    color: #0e1013;
    font-size: 2rem;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s; }
  .navbar-custom .nav-item.active .nav-link {
    color: #0e1013; }
  .navbar-custom .nav-item:hover .nav-link {
    color: #ff610d; }
  .navbar-custom .dropdown-menu {
    background-color: #fbfbfb;
    border-radius: 0;
    padding: 1rem 1rem 1rem 0;
    border: 2px solid #0e1013; }
  .navbar-custom .dropdown-item {
    font-size: 2rem; }
    .navbar-custom .dropdown-item:hover {
      color: #ff610d; }

nav.navbar.shrink {
  padding: 2rem 3rem !important; }

.navbar-toggler {
  border: none;
  background: transparent !important; }

.navbar-toggler:focus {
  outline: none;
  background: transparent !important; }

.navbar-toggler .icon-bar {
  background-color: #0e1013;
  -webkit-transform: rotate(0deg) translate(0px, 0px);
  -ms-transform: rotate(0deg) translate(0px, 0px);
  transform: rotate(0deg) translate(0px, 0px);
  -webkit-transition: ease all 0.2s;
  -o-transition: ease all 0.2s;
  transition: ease all 0.2s; }

.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px; }

.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px; }

.icon-bar:nth-child(2) {
  width: 22px;
  -webkit-transition: ease all 0.2s;
  -o-transition: ease all 0.2s;
  transition: ease all 0.2s; }

.navbar-toggler:hover > .icon-bar:nth-child(2) {
  width: 22px;
  -webkit-transition: ease all 0.2s;
  -o-transition: ease all 0.2s;
  transition: ease all 0.2s; }

.navbar-toggler:active > .icon-bar:nth-child(2) {
  width: 22px;
  -webkit-transition: ease all 0.2s;
  -o-transition: ease all 0.2s;
  transition: ease all 0.2s; }

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 4px);
  -ms-transform: rotate(45deg) translate(5px, 4px);
  transform: rotate(45deg) translate(5px, 4px);
  -webkit-transition: ease all 0.2s;
  -o-transition: ease all 0.2s;
  transition: ease all 0.2s; }

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
  opacity: 0;
  -webkit-transition: ease all 0.2s;
  -o-transition: ease all 0.2s;
  transition: ease all 0.2s; }

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(4px, -4px);
  -ms-transform: rotate(-45deg) translate(4px, -4px);
  transform: rotate(-45deg) translate(4px, -4px);
  -webkit-transition: ease all 0.2s;
  -o-transition: ease all 0.2s;
  transition: ease all 0.2s; }

.nav-tours {
  background-color: transparent;
  margin-bottom: 5rem;
  padding: 2rem; }
  .nav-tours .nav-item {
    font-size: 2.4rem;
    font-weight: 900;
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
    background-color: #fbfbfb;
    padding: 2rem;
    margin-bottom: 2rem; }

.header-text {
  padding: 10rem 0 2rem 0;
  color: #773800;
  font-family: "Fanwood Text", serif;
  font-style: italic;
  font-size: 3.2rem; }

.header-subtext {
  padding-bottom: 10rem;
  color: #773800;
  font-family: "Fanwood Text", serif;
  font-style: italic; }

footer {
  height: 100%;
  margin-top: 2.5rem;
  padding: 3rem;
  color: #0e1013; }
  footer hr {
    border-color: #0e1013; }
  footer a {
    color: #0e1013; }
    footer a:hover {
      color: #ff610d; }

@media (max-width: 991px) {
  .cont {
    max-width: 90vw; }
  hr {
    margin: 5rem 0; } }

@media (min-width: 991px) {
  .navbar-custom {
    padding: 3rem; }
  .header-text {
    padding-top: 20rem;
    font-size: 80px; }
  .header-subtext {
    font-size: 30px;
    padding-bottom: 20rem; }
  .cont {
    padding: 5rem; }
  .nav-tours {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .nav-tours .nav-item {
      margin: 0 1rem; } }
